*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

/Grisha_1/Grisha_1/bin
/Grisha_1/Grisha_1/obj

/TicTacToe2021/TicTacToe2021/bin
/TicTacToe2021/TicTacToe2021/obj
